<div class="col-12">
    <div class="card">
        <div class="card-body">

            <h1 class="card-title">Progress</h1>
            <div class="m-t-40">
                <div class="d-flex">
                    <div class="mr-auto">
                        <h4>Products</h4>

                    </div>
                    <div class="ml-auto">
                        <div class="form-group">
                            <input id="demo-input-search2" type="text" placeholder="Search" autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Progress</th>
                            <th>Registration Date</th>
                            <th> Expiration Date</th>
                            <th class="text-nowrap">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Baileys Chococherry</td>
                            <td>
                                <h5 align="left"> <i class="fa fa-warning text-warning"></i> <small>Project</small><span class="pull-right ">20%</span></h5>
                                <div class="progress progress-xs  margin-vertical-10">
                                    <div class="progress-bar bg-primary progress-bar-striped" style="width: 20%; height:6px;" role="progressbar"> </div>
                                </div>


                            </td>

                            <td>May 15, 2015</td>
                            <td>May 15, 2015</td>
                            <td class="text-nowrap">
                                <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Buchanan's DeLuxe Aged 12 Years</td>
                            <td>
                                <h5 align="left"> <i class="fa fa-exclamation-circle text-info"></i> <small>Submitted</small><span class="pull-right ">36%</span></h5>
                                <div class="progress progress-xs  margin-vertical-10">
                                    <div class="progress-bar bg-info progress-bar-striped" style="width: 36%; height:6px;" role="progressbar"> </div>
                                </div>

                            </td>

                            <td>July 1, 2015</td>
                            <td>May 15, 2015</td>
                            <td class="text-nowrap">
                                <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Buchanan's Red Seal</td>
                            <td>
                                <h5 align="left"> <i class="fa fa-check-circle text-success"></i> <small>Approved</small><span class="pull-right ">100%</span></h5>
                                <div class="progress progress-xs  margin-vertical-10">
                                    <div class="progress-bar bg-success progress-bar-striped" style="width: 100%; height:6px;" role="progressbar"> </div>
                                </div>
                            </td>

                            <td>Apr 12, 2015</td>
                            <td>May 15, 2015</td>
                            <td class="text-nowrap">
                                <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Cardhu 12YO</td>
                            <td>
                                <h5 align="left"> <i class="fa fa-check-circle text-success"></i> <small>Questions from authority</small><span class="pull-right ">52%</span></h5>
                                <div class="progress progress-xs  margin-vertical-10">
                                    <div class="progress-bar bg-warning progress-bar-striped" style="width: 52%; height:6px;" role="progressbar"> </div>
                                </div>
                            </td>

                            <td>Aug 9, 2015</td>
                            <td>May 15, 2015</td>
                            <td class="text-nowrap">
                                <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Glenkinchie </td>
                            <td>
                                <h5 align="left"> <i class="fa fa-check-circle text-success"></i> <small>Denied from authority</small><span class="pull-right ">30%</span></h5>
                                <div class="progress progress-xs  margin-vertical-10">
                                    <div class="progress-bar bg-danger progress-bar-striped" style="width: 68%; height:6px;" role="progressbar"> </div>
                                </div>
                            </td>

                            <td>Apr 2, 2015</td>
                            <td>May 15, 2015</td>
                            <td class="text-nowrap">
                                <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Ketel One Citroen Vodka</td>
                            <td>
                                <h5 align="left"> <i class="fa fa-check-circle text-success"></i> <small>Cancelled as project
                                    </small><span class="pull-right ">30%</span></h5>
                                <div class="progress progress-xs  margin-vertical-10">
                                    <div class="progress-bar bg-inverse progress-bar-striped" style="width: 80%; height:6px;" role="progressbar"> </div>
                                </div>
                            </td>

                            <td>July 11, 2015</td>
                            <td>May 15, 2015</td>
                            <td class="text-nowrap">

                                <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-search-plus text-inverse m-r-10"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>