<div class="container-fluid animated fadeInUp jumbotron">

    <h1 class="text-h1">
        <i class="fa fa-barcode"></i> Register Product </h1>
    <hr class="my-4">
    <form ngNativeValidate novalidate="novalidate">
        <!--<form ngNativeValidate [formGroup]="forma" (ngSubmit)="guardarCambios()" novalidate="novalidate">-->
        <legend>
            <i class="fa fa-car text-success "></i> Transportes cercanos al Alojamiento</legend>
        <div class="form-group container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="row">

                        <div class="card">
                            <div class="card-body" align="center">
                                <h4 class="card-title text-primary"> <i class="fa fa-cloud-upload"></i> Product image </h4>
                                <label for="input-file-now"> <small>Select the product image</small> </label>
                                <img src="assets/images/sinImagen.jpg" class="w150">
                                <!--<img *ngIf="imgHabitacionTemp" [src]="imgHabitacionTemp" class="w150">-->
                                <!--<input (change)="seleccionImagenHabitacion($event.target.files[0])" type="file" id="imgHabitacion" class="dropify" required formControlName="imgHabitacion" />-->
                                <input type="file" id="imgProduct" class="dropify" required formControlName="imgProduct" />
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="row">
                        <label for="productName" class="col-lg-6 control-label">Product Name </label>
                        <div class="col-lg-6" [ngClass]="{'alert alert-danger':!forma.get('productName').valid}">
                            <input type="text" name="productName">
                            <div *ngIf="!forma.controls['productName'].valid" class="form-control-feedback">
                                <small>*Required</small>
                            </div>
                        </div>
                        <label for="market" class="col-lg-6 control-label">Market </label>
                        <div class="col-lg-6" [ngClass]="{'alert alert-danger':!forma.get('market').valid}">
                            <select class="form-control" id="market" required formControlName="market">
                                        <option>Caribe</option>
                                        <option>PEBAC</option>                         
                                </select>
                            <div *ngIf="!forma.controls['tipoVivienda'].valid" class="form-control-feedback">
                                <small>*Required</small>
                            </div>
                        </div>
                        <br>
                        <label for="country" class="col-lg-6 control-label">Country</label>

                        <div class="col-lg-6" [ngClass]="{'alert alert-danger':!forma.get('country').valid}">
                            <select class=" form-control " id="country" required formControlName="country">
                                                <option>Chile</option>
                                                <option>Perú</option>
                                                <option>Republica Dominicana</option>                            
                                             </select>
                            <div *ngIf="!forma.controls['country'].valid " class="form-control-feedback ">
                                <small>*Required</small>
                            </div>
                        </div>
                        <label for="brand" class="col-lg-6 control-label">Brand</label>

                        <div class="col-lg-6" [ngClass]="{'alert alert-danger':!forma.get('brand').valid}">
                            <select class=" form-control" id="brand" required formControlName="brand">
                                                <option>Chile</option>
                                                <option>Perú</option>
                                                <option>Republica Dominicana</option>                            
                                             </select>
                            <div *ngIf="!forma.controls['brand'].valid " class="form-control-feedback ">
                                <small>*Required</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="row">
                <label for="market" class="col-lg-3 control-label">Market </label>
                <div class="col-lg-3" [ngClass]="{'alert alert-danger':!forma.get('market').valid}">
                    <select class="form-control" id="market" required formControlName="market">
                            <option>Caribe</option>
                            <option>PEBAC</option>                         
                    </select>
                    <div *ngIf="!forma.controls['tipoVivienda'].valid" class="form-control-feedback">
                        <small>*Required</small>
                    </div>
                </div>
                <label for="country" class="col-lg-3 control-label">Country</label>

                <div class="col-lg-3" [ngClass]="{'alert alert-danger':!forma.get('country').valid}">
                    <select class=" form-control " id="country" required formControlName="country">
                            <option>Chile</option>
                            <option>Perú</option>
                            <option>Republica Dominicana</option>                            
                         </select>
                    <div *ngIf="!forma.controls['country'].valid " class="form-control-feedback ">
                        <small>*Required</small>
                    </div>
                </div>
            </div>-->

            <br>
            <div class="row ">
                <label for="zona " class="col-lg-4 control-label ">¿En que zona se encuentra ubicado el alojamiento? </label>
                <div class="col-lg-2 " [ngClass]="{'alert alert-danger':!forma.get('zona').valid}">
                    <select class="form-control " id="zona " required formControlName="zona">
                            <option>Centro</option>
                            <option>Sur</option>
                            <option>Norte</option>
                            <option>Oriente</option>
                            <option>Occidente</option>
                         </select>
                    <div *ngIf="!forma.controls['zona'].valid " class="form-control-feedback ">
                        <small>*Required</small>
                    </div>
                </div>
                <label for="tipoHabitacion" class="col-lg-2 control-label ">Tipo de Habitación</label>
                <div class="col-lg-4 " [ngClass]="{'alert alert-danger':!forma.get('tipoHabitacion').valid}">
                    <select class="form-control " id="tipoHabitacion " required formControlName="tipoHabitacion">
                            <option>Individual</option>
                            <option>Compartida</option>
                            <option>Otra</option>
                        </select>
                    <div *ngIf="!forma.controls['tipoHabitacion'].valid " class="form-control-feedback ">
                        <small>*Required</small>
                    </div>
                </div>


            </div>


        </div>


        <hr>
        <legend> <i class="fa fa-i-cursor text-success "></i> Descripción del Alojamiento</legend>
        <div class="row " [ngClass]="{'alert alert-danger':!forma.get('descripcionAlojamiento').valid}">
            <div class="col-lg-12 ">
                <div class="form-group ">
                    <textarea class="form-control " rows="3 " required formControlName="descripcionAlojamiento"></textarea>
                </div>
            </div>
            <!--<div *ngIf="forma.controls[ 'descripcionAlojamiento'].errors?.required" class="form-control-feedback">
                <small> El tipo de alojamiento es requerido</small>
            </div>
            <div *ngIf="forma.controls[ 'descripcionAlojamiento'].errors?.minlength" class="form-control-feedback">
                <small>La descripción de contener mínimo 50 caractéres</small>
            </div>-->
        </div>
        <hr>
        <legend>
            <i class="fa fa-car text-success "></i> Transportes cercanos al Alojamiento</legend>
        <div class="alert alert-warning " role="alert ">
            <strong>Atención!</strong> Responde Si o No, si el tipo de transporte se encuentra cerca al alojamiento
        </div>
        <div class="row ">
            <label for="publico" class="col-lg-3 control-label ">Transporte Público </label>

            <div class="col-lg-3 " [ngClass]="{'alert alert-danger':!forma.get('publico').valid}">
                <select class="form-control" id="publico" required formControlName="publico">
                        <option>Si</option>
                        <option>No</option>
                    </select>
                <div *ngIf="!forma.controls['publico'].valid " class="form-control-feedback">
                    <small>*Required</small>
                </div>
            </div>

            <label for="uber" class="col-lg-3 control-label ">Uber</label>
            <div class="col-lg-3 " [ngClass]="{'alert alert-danger':!forma.get('uber').valid}">
                <select class="form-control" id="uber" required formControlName="uber">
                        <option>Si</option>
                        <option>No</option>
                    </select>
                <div *ngIf="!forma.controls['uber'].valid " class="form-control-feedback ">
                    <small>*Required</small>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <label for="bicicleta" class="col-lg-3 control-label ">Bicicleta</label>
            <div class="col-lg-3" [ngClass]="{'alert alert-danger':!forma.get('bicicleta').valid}">
                <select class="form-control" id="bicicleta" required formControlName="bicicleta">
                            <option>Si</option>
                            <option>No</option>
                        </select>
                <div *ngIf="!forma.controls['bicicleta'].valid " class="form-control-feedback ">
                    <small>*Required</small>
                </div>
            </div>
            <label for="taxi" class="col-lg-3 control-label ">Taxi</label>

            <div class="col-lg-3 " [ngClass]="{'alert alert-danger':!forma.get('taxi').valid}">
                <select class="form-control" id="taxi" required formControlName="taxi">
                            <option>Si</option>
                            <option>No</option>
                        </select>
                <div *ngIf="!forma.controls['taxi'].valid " class="form-control-feedback ">
                    <small>*Required</small>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <label for="caminando" class="col-lg-3 control-label ">Caminando </label>

            <div class="col-lg-3" [ngClass]="{'alert alert-danger':!forma.get('caminando').valid}">
                <select class="form-control" id="caminando" required formControlName="caminando">
                            <option>Si</option>
                            <option>No</option>
                        </select>
                <div *ngIf="!forma.controls['caminando'].valid " class="form-control-feedback ">
                    <small>*Required</small>
                </div>
            </div>
            <label for="metro" class="col-lg-3 control-label ">Metro</label>

            <div class="col-lg-3" [ngClass]="{'alert alert-danger':!forma.get('metro').valid}">
                <select class="form-control" id="metro" required formControlName="metro">
                            <option>Si</option>
                            <option>No</option>
                        </select>
                <div *ngIf="!forma.controls['metro'].valid " class="form-control-feedback ">
                    <small>*Required</small>
                </div>
            </div>
        </div>
        <hr>

    </form>
    <br>
    <div class="footerNavWrap clearfix">
        <button class="btn btn-success pull-left btn-fyi">
                         <i class="fa fa-eraser "></i> Limpiar
                    </button>
        <button [disabled]="!forma.valid " type="submit " class="btn btn-primary pull-right btn-fyi">
                         <i class="fa fa-arrow-circle-right "></i> Siguiente
                        </button>

        <!--  <button (click)="limpiar()" class="btn btn-success pull-left btn-fyi">
                                <i class="fa fa-eraser "></i> Limpiar
                           </button>
               <button (click)="guardarCambios()" [disabled]="!forma.valid " type="submit " class="btn btn-primary pull-right btn-fyi">
                                <i class="fa fa-arrow-circle-right "></i> Siguiente
                               </button>-->
    </div>

</div>