<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/income.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Total Income</h6>
                        <h2 class="m-t-0">953,000</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/users.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Total Usuers</h6>
                        <h2 class="m-t-0">10</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/documents.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Documents</h6>
                        <h2 class="m-t-0">9</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/process.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Total Staff</h6>
                        <h2 class="m-t-0">987,563</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h3 class="card-title m-b-5"><span class="lstick"></span>Total Visits </h3>
                    </div>
                    <div class="ml-auto">
                        <select class="custom-select b-0">
                          <option selected="">January 2017</option>
                          <option value="1">February 2017</option>
                          <option value="2">March 2017</option>
                          <option value="3">April 2017</option>
                      </select>
                    </div>
                </div>
                <div id="visitfromworld" style="width:100%!important; height:415px"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><span class="lstick"></span>Product Stats</h4>
                <table class="table browser m-t-30 no-border">
                    <tbody>
                        <tr>
                            <td style="width:40px"><img src="../assets/images/browser/chrome-logo.png" alt=logo /></td>
                            <td>Google Chrome</td>
                            <td class="text-right">23%</td>
                        </tr>
                        <tr>
                            <td><img src="../assets/images/browser/firefox-logo.png" alt=logo /></td>
                            <td>Mozila Firefox</td>
                            <td class="text-right">15%</td>
                        </tr>
                        <tr>
                            <td><img src="../assets/images/browser/safari-logo.png" alt=logo /></td>
                            <td>Apple Safari</td>
                            <td class="text-right">07%</td>
                        </tr>
                        <tr>
                            <td><img src="../assets/images/browser/internet-logo.png" alt=logo /></td>
                            <td>Internet Explorer</td>
                            <td class="text-right">09%</td>
                        </tr>
                        <tr>
                            <td><img src="../assets/images/browser/opera-logo.png" alt=logo /></td>
                            <td>Opera mini</td>
                            <td class="text-right">23%</td>
                        </tr>
                        <tr>
                            <td><img src="../assets/images/browser/edge-logo.png" alt=logo /></td>
                            <td>Microsoft edge</td>
                            <td class="text-right">09%</td>
                        </tr>
                        <tr>
                            <td><img src="../assets/images/browser/netscape-logo.png" alt=logo /></td>
                            <td>Netscape Navigator</td>
                            <td class="text-right">04%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>