<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="assets/images/icon/income.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Total Products</h6>
                        <h2 class="m-t-0">953,000</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="assets/images/icon/users.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Total Usuers</h6>
                        <h2 class="m-t-0">10</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="assets/images/icon/documents.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Documents</h6>
                        <h2 class="m-t-0">9</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="assets/images/icon/process.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">
                            In process</h6>
                        <h2 class="m-t-0">987,563</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h3 class="card-title m-b-5"><span class="lstick"></span>Total Visits </h3>
                    </div>
                    <div class="ml-auto">
                        <select class="custom-select b-0">
                          <option selected="">January 2017</option>
                          <option value="1">February 2017</option>
                          <option value="2">March 2017</option>
                          <option value="3">April 2017</option>
                      </select>
                    </div>
                </div>
                <div id="visitfromworld" style="width:100%!important; height:415px"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><span class="lstick"></span> Amount of registered products by country </h4>
                <table class="table browser m-t-30 no-border">
                    <tbody>
                        <tr>
                            <td style="width:40px"><i class="flag-icon flag-icon-pe"></i></td>
                            <td>Perú</td>
                            <td class="text-right">500</td>
                        </tr>
                        <tr>
                            <td><i class="flag-icon flag-icon-ec"></i></td>
                            <td>Ecuador</td>
                            <td class="text-right">150</td>
                        </tr>
                        <tr>
                            <td><i class="flag-icon flag-icon-bo"></i></td>
                            <td>Bolivia</td>
                            <td class="text-right">70</td>
                        </tr>
                        <tr>
                            <td><i class="flag-icon flag-icon-ar"></i></td>
                            <td>Argentina</td>
                            <td class="text-right">90</td>
                        </tr>
                        <tr>
                            <td><i class="flag-icon flag-icon-co"></i></td>
                            <td>Colombia</td>
                            <td class="text-right">230</td>
                        </tr>
                        <tr>
                            <td><i class="flag-icon flag-icon-ch"></i></td>
                            <td>Chile</td>
                            <td class="text-right">40</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>