<div class="row el-element-overlay">

    <div class="col-lg-6 col-md-6">
        <div class="card card-inverse" style="background-color: #333; border-color: #333;">
            <div class="card-header">
                <h2 class="m-b-0 text-white">Register Prodcuts</h2>
            </div>
            <div class="card-body">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1"> <img src="assets/images/products/blackLabel.png" alt="user" />
                        <div class="el-overlay">
                            <ul class="el-info">
                                <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-pencil"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="card card-inverse" style="background-color: #333; border-color: #333;">
            <div class="card-header">
                <h2 class="m-b-0 text-white">Register Prodcuts</h2>
            </div>
            <div class="card-body">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1"> <img src="assets/images/products/report.png" alt="user" />
                        <div class="el-overlay">
                            <ul class="el-info">
                                <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-basic-elaboration-document-cloud"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="assets/images/icon/income.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Total Products</h6>
                        <h2 class="m-t-0">953,000</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="assets/images/icon/users.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Total Usuers</h6>
                        <h2 class="m-t-0">10</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="assets/images/icon/documents.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Documents</h6>
                        <h2 class="m-t-0">9</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="assets/images/icon/process.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">
                            In process</h6>
                        <h2 class="m-t-0">987,563</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>